-tune-be:SimRef
(
  -dir:~SimRef-01
  -ccomp:compile_bcc -DSHOW_DEBUG=0 -DDUMP_FILE=\"__dump\" -DMEMORY_LIMIT=7654321
  -srcomp:..\Compiler.sr\srefc
  -runtime-dirs
  (
    ..\Runtime\windows.cpp
    ..\Runtime\all.cpp
    ..\Runtime\windows.cpp\profiler
  )
  -runtime-files
  (
    refalrts
    refalapi
    mr_common
    mr_oslib
    SR-Common
    SR-OSLib

    mr_profiler
    SR-Profiler
    OutTime
    Profiler
    Secundomer
    Statistics
  )
  -exec:-e
)

-tune-be:CppSR
(
  -dir:~Cpp-01

  #-compiler:rem
  -compiler:compile_cl -DSHOW_DEBUG=0 -DDUMP_FILE=\"__dump\" -DMEMORY_LIMIT=7654321 -I. 
  -exec:/Fe
  -object:/Fo

  #-compiler:compile_bcc -DSHOW_DEBUG=0 -DDUMP_FILE=\"__dump\" -DMEMORY_LIMIT=7654321 -I. -Wall
  #-exec:-e
  #-object:-o

  #-compiler:g++ -DSHOW_DEBUG=0 -DDUMP_FILE=\"__dump\" -DMEMORY_LIMIT=7654321 -I. -Wall
  #-exec:-o
  #-object:-o

  -object-ext:obj
  #-object-ext:o
  -runtime-dirs
  (
    ..\Runtime\windows.cpp
    ..\Runtime\all.cpp
    ..\Runtime\windows.cpp\profiler
  )
  -runtime-files
  (
    refalapi.cpp
    refalrts.cpp
    mr_common.cpp
    mr_oslib.cpp

    mr_profiler.cpp
    OutTime
    Profiler
    Secundomer
    Statistics
  )
  # none, genmake, partial, cojoint
  -accelerate-link:cojoint
)

-tune-be:ModuleIF
(
  -dir:~Defs
  -ext:rsym
)
